spring:
  application:
    name: personal-finance-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/fintech_db
    username: fintech_user
    password: fintech_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.fintech: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
