spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fintech_db
    username: fintech_user
    password: fintech_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
